{% load static %}
{% if latest_users_list %}
    <ul>
    {% for user in latest_users_list %}
        {% comment %} <li><a href="/polls/{{ question.id }}/" >{{ question.question_text }}</a></li> {% endcomment %}
        {% comment %} question is coming from for loop {% endcomment %}
        <li> <a href="{% url 'project2:user-information' user.id %}">{{ user.name }}</a></li>
    {% endfor %}
    </ul>
    <h2> <a href="{% url 'project2:create-user'  %}">Create A User</a></h2> 
{% else %}
    <p>No Users are available.</p>
    {% endif %}

